@page "/"

@inject IOwnersScreenUseCases OwnersScreenUseCases

<h3>Owners</h3>
<br />
@if (owners != null)
{
    <ul>
        @foreach (var owner in owners)
        {
            <li>@owner.Name</li>
        }
    </ul>
    <NavLink href="@($"/tickets")">
        <button class="btn btn-primary" type="submit">
            View All Tickets
        </button>
    </NavLink>
}

@code {
    IEnumerable<Owner> owners;

    protected override async Task OnInitializedAsync()
    {
        owners = await OwnersScreenUseCases.ViewOwnersAsync();
    }

}
